*{
    margin: 0px;
    padding:0px;
}

header{
    display: flex;
    height:90px;
    background-color: rgb(66,126,128);
    justify-content: flex-end;
}

ul{
    display: flex;
    align-items: center;
    text-decoration:none;
 }

ul li{
    display: inline-block;
    margin-right: 40px;
    

}

ul li a{
    background-color: white;
    box-shadow: 3px 3px 1px rgb(21,68,84);
    color:black;
    padding:10px;
    text-decoration: none;
    border-radius: 10px;
    color:black;
    background-color: #F0F5E4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgb(41, 72, 82);
}

ul li:active{
    transform: translate(2px, 2px);
    box-shadow: none;
}

ul li a:active{
    box-shadow: none;
}

#titulo{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(45,45,45);
    font-size:62px;
    text-shadow: 4px 4px 1px black;
    margin-inline: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#fondo{
    width:100%;
    height: 650px;
    background-image: url(./imagenes/codigo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1;
}

#contenido{
    position: relative;
    height:1000px;
    background-color: rgb(66,126,128);
}

#contenido h2{
    position: relative;
    text-align: center;
    color:#F0F5E4;
    top:35px;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 1px rgb(21,68,84);
}

#tarjetas{
    width:80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    height:600px;
    border: 1px solid black;
    align-items: center;
    justify-content: space-around;
    gap:15px;
}

.card{
    padding:1px;
    width:400px;
    height: 450px;
    border: 1px solid black;
    background-color: #F0F5E4;
    border: 5px solid rgb(21,68,84);;
}

.card img{
    margin: auto;
    width:100%;
}

.card p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 50px 20px;
}

.card ul li{
    display: block;
    margin: auto;

}

.card ul li a{
    width:100px;
    background-color: rgb(66,126,128);
    color:#F0F5E4;
    padding:12px 50px;
    font-family: Arial, Helvetica, sans-serif;
}
